/* !General */
* {
  color: white;
}
:root {
  --animate-delay: 0.5s;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.fs-7 {
  font-size: 13px;
}
body {
  background-color: #212529;
  overflow: hidden;
}
/*! Side Bar */
aside{
  background-color: #212529;
}
.barBtn {
  cursor: pointer;
}
.barBtn i.menuIcon {
  transition: all 400ms;
}
.sideBarInner ul li a {
  transition: color 500ms;
}
.sideBar .iconImage {
  width: 40px;
  height: 40px;
}
/* !Meals and categories*/
.uiCardItem .cardImage,
.areaCardItem,
.ingredientsCardItem {
  cursor: pointer;
}
.uiCardItem .cardImage .cardLayer {
  transition: all 600ms;
  top: 120%;
}
.uiCardItem .cardImage:hover .cardLayer {
  top: 0%;
  opacity: 1 !important;
}
/*! Meals Details */
.recipes span {
  color: black;
  background-color: #cef4fd;
}
.tags span {
  color: rgb(132, 32, 41);
  font-size: 17px;
  background-color: #e7c9cb;
}
/*!Search */
.searchName input::placeholder,
.searchLetter input::placeholder {
  color: white;
}
/* !Area and Ingredients icons*/
.cardIcon i {
  font-size: 50px;
}
/* !Contact */
#sumbitBtn {
  background-color: transparent;
  transition: background-color 400ms;
}
#sumbitBtn:hover {
  background-color: #dc3545;
}
.hint {
  color: rgb(132, 32, 41);
  font-size: 18px;
  background-color: #e7c9cb;
}
/*!Loading */
.loading {
  background-color: var(--mainColor);
  z-index: 999;
}
.spinner {
  margin: 100px auto;
  width: 70px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* !Scroll Design */
* {
  scrollbar-width: auto;
  scrollbar-color: white #ffffff;
}
*::-webkit-scrollbar {
  width: 11px;
}
*::-webkit-scrollbar-track {
  background: #343a41;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}